@{ ViewBag.Title = "Resumo"; }

<div class="row">
    
    <div class="span3 well">
        Movimento atual: <br/><strong>@this.Movimento().Data.Show()</strong>
    </div>
    <div class="span3">
        <ul>
            <li>@Link.Transacoes(Url)</li>
            <li>@Link.FluxoCaixa(Url)</li>
            <li>@Link.FecharMovimento(Url)</li>
        </ul>
    </div>
    
</div>