
body 
{
    color: #232323;
    background-color: #fff;
    margin: 20px;
}

body, input, input[type="sumit"], textarea
{
    font-family: Verdana, sans-serif; 
    font-size: 12px;     
}

h1, h2, h3, h4 { font-family: "Trebuchet MS", Verdana, sans-serif;}
h1 {margin:0; padding:0; font-size: 24px;}
h2, .wiki h1 {font-size: 20px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h3, .wiki h2 {font-size: 16px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; border-bottom: 1px dotted #bbbbbb; color: #444;}
h4, .wiki h3 {font-size: 14px;padding: 2px 10px 1px 0px;margin: 0 0 10px 0; }

ul { list-style-type: none; }
li { padding: 2px 0px 2px 0px; }

a, a:link, a:visited{ color: #169; text-decoration: none; }
a:hover, a:active{ color: #c61a1a; text-decoration: underline;}
a img{ border: 0; }

.detail { color: #717171; font-style: italic} 

#menu { margin: 5px 0px 5px 0px; border: 1px solid #0b4162; background-color: #116699; height: 28px; color: #fff }
#menu ul { margin: 0px;  padding: 0px;}
#menu li { float:left; list-style:none; margin: 2px; padding: 0px; }
#menu li a { display: block; color: #fff;  text-decoration: none;   margin: 0;  padding: 5px 10px 5px 10px; }
#menu .separator { padding: 5px 10px 5px 10px; }
#menu li a:hover { background:#b3ddf7; color:#000;}
#menu li a.selected, #menu li a.selected:hover { background:#fff; color:#555;}

#help img  { margin: 10px; border: 1px dotted black; }

#title { margin: 8px 0px 8px 0px; }
#content { margin: 0px 8px 0px 8px; }
#content ul { padding-left: 5px; }
#content > table, #content > p, #content form, #content > div, form > p {
     margin-top: 20px; margin-bottom: 20px;
}
 
.show p { padding: 0px 12px 5px 12px;  margin-top: 10px; }

.contextual 
{
    padding-right: 20px;
    float:right; 
    white-space: nowrap; 
    line-height:1.4em;
    margin-top:5px; 
    padding-left: 10px; 
    font-size:1.1em;
}

.contextual input, .contextual select {font-size:0.9em;}
.contextual a { padding-right: 15px; }

.message { 	margin: 15px; border-width: 2px; 	border-style: solid;  padding: 6px 6px 6px 35px; }
.message ul { list-style: none; }
.download li { padding-right: 15px;display: inline;}

.flash { border: 1px #6374a0 dotted; background-color: #f5f7fa; padding: 6px; }

.notice   
{
    /*background: url(../../Content/Images/success.png) 8px 5px no-repeat; */
    background-color: #dfffdf; border-color: #9fcf9f; 
}

.alert
{
    /*background: url(../../Content/Images/alert.png) 8px 5px no-repeat;*/
	background-color: #ffffe1; border-color: #c9c401;
}

.error
{
    /*background: url(../../Content/Images/error.png) 8px 5px no-repeat;*/
	background-color: #ffe3e3; border-color: #dd0000;
}

.validation
{
    /*background: url(../../Public/Images/exclamation.png) 8px 50% no-repeat;*/
	background-color: #ffe3e3; border-color: #dd0000;	
}

.info
{
    /*background: url(../../Public/Images/exclamation.png) 8px 50% no-repeat;*/
	background-color: #ecf4f4; border-color: #518484;	
}

.options {margin-top: -15px; margin-right: 10px; float: right; }

/***** Form ******/
input[type="submit"], input[type="button"], a.button, .button:hover
{
	background-color: #d8e4f8;
	border: solid 1px #404040;
	text-align: center;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

select, textarea, input[type="text"], input[type="file"], input[type="password"]
{
    padding: 4px;
	background-color: #fff;
    font-family: Verdana, sans-serif; 
    font-size: 12px;     
}

input[readonly="readonly"]
{
    background-color: #f1f1f1;    
}

textarea { padding: 5px; }

fieldset 
{ 
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #d8e4f8;
}

.field-validation-error { color: #dd0000; }
.input-validation-error { background-color: #ffe3e3; }

/***** Tables/Lists *****/
table.list tr:hover, table.list > tbody > tr:hover { background-color: #ffffe1; }

table .fixed { table-layout:fixed; }

table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px;  }
table.list th { background-color:#EEEEEE; white-space:nowrap;  padding: 5px; }
table.list td { vertical-align: baseline; padding: 4px; }
table.list tr:hover { background-color: #ffffd9; }
table.list tbody td, table.list tbody tr, table.list tbody th { border: 1px solid #d4d4d4; padding: 4px; }
table.list tr:nth-child(odd)    {background-color:#f6f7f8;}
table.list tr:nth-child(even)    {background-color: #fff;}

.right { text-align: right; }

.modification-added td { background-color: #dfffdf; border-color: #9fcf9f; }
.modification-modified td { background-color: #ffffe1; border-color: #c9c401; }
.modification-removed td { background-color: #ffe3e3; border-color: #dd0000; }

.icon {
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.icon-add { background-image: url(../../Content/Images/new.png); }
.icon-list { background-image: url(../../Content/Images/list.png); }
.icon-edit { background-image: url(../../Content/Images/edit.png); }
.icon-del { background-image: url(../../Content/Images/delete.png); }
.icon-show { background-image: url(../../Content/Images/show.png); }
.icon-transf { background-image: url(../../Content/Images/arrow_refresh.png); }
.icon-receita { background-image: url(../../Content/Images/money_add.png); }
.icon-despesa { background-image: url(../../Content/Images/money_delete.png); }

.positive { color: darkgreen; }
.negative { color: red; }

.label-green { background-color: #468847; color: #ffffff; border-radius: 3px; display: inline-block; padding: 2px 4px; font-size: 11px; line-height: 14px; white-space: nowrap; vertical-align: baseline; }
.label-grey { background-color: grey; color: #ffffff; border-radius: 3px; display: inline-block; padding: 2px 4px; font-size: 11px; line-height: 14px; white-space: nowrap; vertical-align: baseline; }
.label-red { background-color: #b70000; color: #ffffff; border-radius: 3px; display: inline-block; padding: 2px 4px; font-size: 11px; line-height: 14px; white-space: nowrap; vertical-align: baseline; }
a.labellink  { color: #fff; }

.conta-1 { background-color: #468847; color: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; display: inline-block; padding: 2px 4px; }
.conta-2 { background-color: #bf6f00; color: #ffffff; font-size: 12px; line-height: 14px; border-radius: 3px; display: inline-block; padding: 2px 4px; }

a.red, a.red:hover, input[type="submit"].red, input[type="button"].red {
     background-color: #b10101; color: #fff;
}
.center { width: 100%; text-align: center; }
.center * { margin-left: 15px; margin-right: 15px; }

.highlight { background-color: #ffffcc; font-style: italic }
.disabled { color: gray; font-style: italic  }

a.gasto-link { color: #b10101 }
a.recebimento-link  { color: #468847 }
