@{ ViewBag.Title = "Administração"; }

<p>
    <ul>
        <li>@Html.PostLink(Url.Action("Contas"), "Carregar Contas")</li>
        <li>@Html.PostLink(Url.Action("Categorias"), "Carregar Categorias")</li>
        <li>@Html.PostLink(Url.Action("Schema"), "Atualizar Schema")</li>
    </ul>
</p>
