@model TransacaoContaForm
@{ ViewBag.Title = "Nova Transação"; }

<p>
    Tipo da transação: <span class="highlight">@Model.Tipo</span>
</p>

<h3>Onde entrou ou saiu dinheiro?</h3>
    
<p>
    <a href="@Url.Action("Categoria", "Transacao", new { Tipo = TipoTransacao.Gasto, ContaId = Conta.CaixaId })" class="labellink conta-1">Caixa</a>
</p>
    
<p>
    <a href="@Url.Action("Categoria", "Transacao", new { Tipo = TipoTransacao.Gasto, ContaId = Conta.ContaCorrenteId })" class="labellink conta-2">Conta Corrente</a>
</p>