@model AbrirMovimentoForm

@{ ViewBag.Title = "Novo Movimento"; }

<div class="well">
    @Show.MovimentoAnterior(Model.MovimentoAnterior)
</div>

@using (Html.BeginForm("Abrir", "Movimento"))
{
    <fieldset>
        
        <div>@Html.LabelFor(x => x.DataNovoMovimento)</div>
        <div>@Html.TextBoxFor(x => x.DataNovoMovimento)</div>
        
        <div class="form-actions">
            <input type="submit" value="Abrir Movimento" class="btn btn-primary" />
        </div>

    </fieldset>
}

