@model AbrirMovimentoForm
@{ ViewBag.Title = "Novo Movimento"; }

<div class="box">

@using (Html.BeginForm("Abrir", "Movimento"))
{
    <fieldset>
        
        <div>
            @Show.MovimentoAnterior(Model.MovimentoAnterior)
        </div>

        <div>
            <div>@Html.LabelFor(x => x.DataNovoMovimento)</div>
            <div>@Html.TextBoxFor(x => x.DataNovoMovimento)</div>
        </div>
                   
        <div>
            <input type="submit" value="Abrir Movimento" />
        </div>

    </fieldset>
}

</div>