<ul class="nav nav-list">
    <li class="nav-header">Lançamentos</li>
    <li>
        <a href="@Url.Action("Nova", "Transacao", new { Tipo = TipoTransacao.Gasto })">
            <i class="fam-money-delete"></i>Novo Gasto
        </a>
    </li>
    <li>
        <a href="@Url.Action("Nova", "Transacao", new { Tipo = TipoTransacao.Recebimento })">
            <i class="fam-money-add"></i>Novo Recebimento
        </a>
    </li>
    <li>
        <a href="@Url.Action("Nova", "Transferencia")">
            <i class="fam-arrow-refresh"></i>Nova Transferência
        </a>
    </li>
</ul>
    
<ul class="nav nav-list">
    <li class="nav-header">Movimento</li>
    <li>@Link.FecharMovimento(Url)</li>
</ul>
