<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Investe Clube</title>
<link href="@Url.Content("~/Public/Layout.css")" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<div id="wrapper2">
<div id="wrapper3">

	<div id="header">
		<h1>Investe Clube</h1>
	</div>

	<div id="main" class="nosidebar">
	
		<div id="content">
        
            <h3>Erro</h3>
            
            <p>
                Ocorre um erro. Tente novamente ou entre em contato com o suporte.
            </p>

			<div style="clear:both;"></div>

		</div>
	</div>
</div>

<div id="footer">
  <div class="bgl"><div class="bgr">
    Powered by <a href="http://www.redmine.org/">Redmine</a> &copy; 2006-2013 Jean-Philippe Lang
  </div></div>
</div>
</div>
</div>

</body>
</html>
