<!DOCTYPE html>
<html>
<head>
    <title>Macarrão Na Rua</title>

    @Styles.Render("~/Content/bootstrap/base")
        
</head>
<body>

    @RenderBody()

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/application.js")"></script>

</body>
</html>