<!DOCTYPE html>
<html>
<head>
    <title>Macarrão Na Rua</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/Default.css")" rel="stylesheet" type="text/css">
</head>
<body>
    
    @RenderBody()

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/application.js")"></script>

</body>
</html>