<div class="row">
    <div class="span1"></div>
    <div class="span10">
        <div class="alert alert-info">Não há movimento aberto</div>
        <p>
            @Link.AbrirMovimento(Url)
        </p>
    </div>
    <div class="span1"></div>
</div>