@model LoginForm

@{
    Layout =  "~/Views/Shared/Master.cshtml";
}

<div id="content">  
<div id="login" class="box">
    
    @using (Html.BeginForm<LoginController>(x => x.Index(null)))
    {
        <fieldset>
            <legend>Autenticação</legend>
            
                @Html.GetError()
                @Html.ShowValidationSummary()

            <div>
                <div>@Html.LabelFor(x => x.Senha)</div>
                <div>@Html.PasswordFor(x => x.Senha, new { style = "width: 300px" })</div>
            </div>
                        
            <div>
                <input type="submit" value="Entrar" />
            </div>

        </fieldset>
    }

</div>    
</div>