@model LoginForm

@{
    Layout =  "~/Views/Shared/Master.cshtml";
}

<div class="container">

    <div id="login" class="box">

        @using (Html.BeginForm<LoginController>(x => x.Index(null), FormMethod.Post, new { @class="form-signin" }))
        {
            <h2 class="form-signin-heading">Autenticacao</h2>
            
            @Html.GetError()
            @Html.ShowValidationSummary()

            @Html.LabelFor(x => x.Senha)
            @Html.PasswordFor(x => x.Senha, new { @class = "sr-only" })
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        }

    </div>
</div>
