@using System.Web.Mvc

@helper FecharMovimento(UrlHelper url)
{
    <a href="@url.Action("Fechar", "Movimento")"><i class="fam-book-key"></i>Fechar Movimento Atual</a>
}

@helper AbrirMovimento(UrlHelper url)
{
    <a href="@url.Action("Abrir", "Movimento")" class="btn btn-success">Abrir Movimento</a>
}

@helper Transacoes(UrlHelper url)
{
    <a href="@url.Action("Index", "Transacao")">Transações</a>
}

@helper FluxoCaixa(UrlHelper url)
{
    <a href="@url.Action("Index", "FluxoCaixa")">Fluxo de Caixa</a>
}